<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71045082327-c5aaj9l6d9483mh38bs4d89ffjngqo5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71045082327-c5aaj9l6d9483mh38bs4d89ffjngqo5d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>71045082327-4cc5q2m5n5e4nl31q3tmtk4m8ib2ljqu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDbQtdsk5vr7t8Z8tBs9MuItASzQHOE6w</string>
	<key>GCM_SENDER_ID</key>
	<string>71045082327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.destek.dhakdhak1</string>
	<key>PROJECT_ID</key>
	<string>dhak-dhak-aa0e5</string>
	<key>STORAGE_BUCKET</key>
	<string>dhak-dhak-aa0e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71045082327:ios:258f6c2e7d10da9c8f9492</string>
	<key>DATABASE_URL</key>
	<string>https://dhak-dhak-aa0e5.firebaseio.com</string>
</dict>
</plist>